<section id="contact" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Contact Royal Cremas Today</h2>
      <p>Contact us for Orders, Events, etc. We offer: 750ml <small>(Regular)</small>, 147ml <small>(Personal)</small> &amp; 50ml (Mini/Favor by the dozen) bottles.</p>
      <p><span class="bold">We Cater for:</span> Engagements, Bridal Showers, Weddings, Birthdays, Baby Showers, Christenings, Business Launch Events, Charity Events &amp; Any Theme Party.</p>
      <div class="form-box" id="new_contact_request" class="contact-request">
        <%= form_for ContactRequest.new, remote: true do |f|  %>
          <div class="row">
            <div class="col-md-6">

              <div class="form-group">
                <%= f.label :name, "Name" %>
                <%= f.text_field :name, class: "form-control", placeholder: "Enter name" %>
              </div>

              <div class="form-group">
                <%= f.label :email, "Email Address" %>
                <div class="input-group">
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-envelope"></span>
                  </span>
                  <%= f.text_field :email, class: "form-control", placeholder: "Enter email" %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :subject, "Subject" %>
                <%= f.text_field :subject, class: "form-control", placeholder: "Enter subject" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :message, "What can we help you with?" %>
                <%= f.text_area :message, class: "form-control", placeholder: "Enter a message", rows: 9, cols: 25  %>
              </div>
            </div>
            <div class="col-md-12">
              <%= f.submit class: "btn btn-default btn-submit pull-right", value: "Send Message!" %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="social-media-info">
        <p><%=mail_to("info@royalcremas.com", "Info@RoyalCremas.com")%></p>
        <ul class="list-inline banner-social-buttons">
          <li>
            <%= link_to("https://twitter.com/royalcremas", class: "btn btn-default btn-lg", target: '_blank') do %>
              <i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span>
            <% end %>
          </li>
          <li>
            <%= link_to("https://instagram.com/royalcremas", class: "btn btn-default btn-lg", target: '_blank') do %>
              <i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
            <% end %>
          </li>
          <li>
            <%= link_to("https://www.facebook.com/royalcremas", class: "btn btn-default btn-lg", target: '_blank') do %>
              <i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
